<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.imagepickerlibrary">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppThemeIP">

        <activity
            android:name="com.imagepickerlibrary.activity.PhotoPickerActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeIP.Popup" />

        <activity
            android:name="com.imagepickerlibrary.activity.PickerPreviewActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeIP.Picture" />

        <activity
            android:name="com.imagepickerlibrary.activity.CaptureConfirmActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeIP.Picture" />

        <activity
            android:name="com.imagepickerlibrary.activity.CropImageActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeIP.Picture" />

        <activity
            android:name="com.imagepickerlibrary.activity.CaptureTempActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeIP.Picture" />

    </application>
</manifest>
